.body {
  height: 500px;
  max-height: 500px;
  object-fit: contain;
}


.image {
  max-width: 175px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  ;
  width: 50%;
}

.text-block {
  text-align: center;
  font-family: Inter, sans-serif;
  height: 200px;
  position: relative;
  top: 28%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.button {
  background-color: #fff;
  border: none;
  color: #1b1b1b;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
}

.hero-text {
  margin-bottom: 50px;
}


/* Gradient Text Attempt*/
.gradient-text {
  background-image: linear-gradient(90deg, #7A7AFF, #A0BCF7, #BCA5DB, #CFBFAF, #96CFDC, #6BDCFC);
  background-clip: text;
  color: transparent;
}

span .gradient-text {
  background-image: linear-gradient(90deg, #7A7AFF, #A0BCF7, #BCA5DB, #CFBFAF, #96CFDC, #6BDCFC);
  background-clip: text;
  color: transparent;
}


/* fallback for IE */
span .gradient-text {
  color: white;
}


/* unvisited link */
a:link {
  font-size: 14px;
  line-height: 16px;
  margin-top: 10px;
  color: #BBB;
  font-weight: 300;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #BBB;
}

/* mouse over link */
a:hover {
  transition-duration: .5s;
  background-image: linear-gradient(90deg, #7A7AFF, #A0BCF7, #BCA5DB, #CFBFAF, #96CFDC, #6BDCFC);
  background-clip: text;
  color: transparent;
}

/* selected link */
a:active {
  color: #BBB;
}

.example_box_container {
  margin-top: 40px;
  margin:auto;
}

.example_box {
  display: inline-block;
  max-width: 350px;
  height: auto;
  border: 1px solid #BBB;
  border-radius: 40px;
  padding: 1rem 1rem;
  vertical-align: middle;
  margin: 10px 10px 10px 10px;
}

.hero-small {
  height: 100px;
  margin-top: 30px;
  padding-bottom: 40px;
}

button {
  position: relative;
  display: block;
  text-align: center;
  background: #1b1b1b;
  transition: .7s;

}

button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

button:hover::before {
  transform: scale(1);
  box-shadow: 0 0 150px #fff;
  border-radius: 20px;
}

.button {
  width: 200px;
}

.button:hover {
  width: 250px;

}


@media screen and (max-width: 1000px) {
  .text-block {
    text-align: center;
    font-family: Inter, sans-serif;
    height: 200px;
    position: relative;
    top: 28%;
    -ms-transform: translateY(-75%);
    transform: translateY(-75%);
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  h1 {
    font-size: 48px;
    line-height: 48px;
  }
}

@media screen and (max-width: 665px) {
  .image {
    max-width: 300px;
  }

  .text-block {
    text-align: center;
    font-family: Inter, sans-serif;
    height: 200px;
    position: relative;
    top: 25%;
    -ms-transform: translateY(-75%);
    transform: translateY(-75%);
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  h1 {
    font-size: 45px;
    line-height: 48px;
  }

  .hero-text {
    margin-bottom: 30px;
  }

  .example_box_container {
    margin-top: 20px;
  }

  .example_box {
    margin: auto;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 10px;
  }

  .hero-small {
    padding-bottom: 10px;
  }
}

@media screen and (max-width:400px) {
  .example_box {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  p{
    font-size:14px;
  }
}


