.body {
  height: 500px;
  max-height: 500px;
  object-fit: contain;
  overflow: hidden;
}

.background-video {
  height: 100%;
  object-fit: cover;
  background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(255, 255, 255, 0) 41%), linear-gradient(rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, .8));
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image {
  max-width: 400px;
  float: none;
  clear: none;
  margin-top: -40px;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 0;
  display: block;
}

.text-block {
  text-align: center;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

@media screen and (max-width: 479px) {
  .image {
    max-width: 300px;
  }
}


